<section id="dispatchingActions" class="infoChapter">
  <div class="sectionContainer">
    <div class="chapterHeading">
      <h3>Dispatching Actions</h3>
    </div>
    <div class="chapterContent">
      <p>Now that we have actions defined we can now dispatch them in the components with ease and with very
        little amount of code needed.</p>

      <div class="codeBlock generalCodeBlock">
        <pre id="codeInputBlock" class="codeInputBlock">
                                          <code class="coderBlock">

                                            <p><span class="decoratorStyle">checkChanged</span>(<span class="moduleStyle">value</span>: <span class="folderStyle">boolean</span>): <span class="folderStyle">void </span> {</p>
                                              <p><span class="interfaceStyle">this</span>.<span class="moduleStyle">store</span>.<span class="decoratorStyle">dispatch</span>(</p>
                                              <p><span class="interfaceStyle codeIndent">new</span><span class="folderStyle">productActions.ToggleProductCode</span>(<span class="moduleStyle">value</span>));</p>
                                              <p>}</p>
                                              <br>

                                              <p><span class="decoratorStyle">newProduct</span>(<span class="moduleStyle">product</span>: <span class="folderStyle">Product</span>): <span class="folderStyle">void </span> {</p>
                                                <p><span class="interfaceStyle">this</span>.<span class="moduleStyle">store</span>.<span class="decoratorStyle">dispatch</span>(</p>
                                                <p><span class="interfaceStyle codeIndent">new</span><span class="folderStyle">productActions.InitializeCurrentProduct</span>(<span class="moduleStyle"></span>));</p>
                                                <p>}</p>
                                                <br>

                                                <p><span class="decoratorStyle">productSelected</span>(<span class="moduleStyle">product</span>: <span class="folderStyle">Product</span>): <span class="folderStyle">void </span> {</p>
                                                  <p><span class="interfaceStyle">this</span>.<span class="moduleStyle">store</span>.<span class="decoratorStyle">dispatch</span>(</p>
                                                  <p><span class="interfaceStyle codeIndent">new</span><span class="folderStyle">productActions.SetCurrentProduct</span>(<span class="moduleStyle">product</span>));</p>
                                                  <p>}</p>
                                          </code>
                                      </pre>
        <div class="codefileInfo">
          <span class="folderStyle">app</span> >
          <span class="folderStyle">product</span> >
          <span class="folderStyle">product-shell</span> >
          <span class="filename">product-shell.component.ts</span>
        </div>

      </div>
    </div>
  </div>
</section>

