<!-- <div class="sideMenuContainer">
    <div id="nav-bar" class="nav-bar">
      <ul class="nav-list">
        <li class="nav-li">NGRX: The Basics</li>
        <li class="nav-li">
          <a href="#introduction" class="nav-item">Introduction</a>
        </li>
        <li class="nav-li">
          <a href="#reduxPattern" class="nav-item">Redux Pattern</a>
        </li>
        <li class="nav-li">
          <a href="#gettingStarted" class="nav-item">Getting Started</a>
        </li>
        <li class="nav-li">
          <a href="#state" class="nav-item">State</a>
        </li>
        <li class="nav-li">
          <a href="#initializeState" class="nav-item">Initialize State</a>
        </li>
        <li class="nav-li">
          <a href="#featureStateManagement" class="nav-item">Feature State Management</a>
        </li>
        <li class="nav-li">
          <a href="#strongTyping" class="nav-item">Strong Typing </a>
        </li>
        <li class="nav-li">
          <a href="#creatingFeatureSelectors" class="nav-item">Creating Feature Selectors</a>
        </li>
        <li class="nav-li">
          <a href="#actions" class="nav-item">Actions</a>
        </li>
        <li class="nav-li">
          <a href="#dispatchingActions" class="nav-item">Dispatching Actions</a>
        </li>
        <li class="nav-li">
          <a href="#reducers" class="nav-item">Reducer</a>
        </li>
        <li class="nav-li">
          <a href="#utilizingFeatureSelectors" class="nav-item">Utilizing Feature Selectors</a>
        </li>
        <li class="nav-li">
          <a href="#effects" class="nav-item">Effects</a>
        </li>
        <li class="nav-li">
          <a href="#devtools" class="nav-item">Dev Tools</a>
        </li>
      </ul>
    </div>
  </div> -->
<div class="sideMenuContainer">
    <div class="nav-bar" id="nav-bar">
        <mat-nav-list class="nav-list">
            <mat-list-item class="normal">NGRX: The Basics</mat-list-item>
            <mat-list-item class="normalLink" routerLink="introduction"  routerLinkActive="currentLink">Introduction</mat-list-item>
            <mat-list-item class="normalLink" routerLink="reduxPattern"  routerLinkActive="currentLink">Redux Pattern</mat-list-item>
            <mat-list-item class="normalLink" routerLink="gettingStarted"  routerLinkActive="currentLink">Getting Started</mat-list-item>
            <mat-list-item class="normalLink" routerLink="immutableState"  routerLinkActive="currentLink">State</mat-list-item>
            <mat-list-item class="normalLink" routerLink="initializeState"  routerLinkActive="currentLink">Initialize State</mat-list-item>
            <mat-list-item class="normalLink" routerLink="featureStateManagement"  routerLinkActive="currentLink">Feature State Management</mat-list-item>
            <mat-list-item class="normalLink" routerLink="strongTyping"  routerLinkActive="currentLink">Strong Typing</mat-list-item>
            <mat-list-item class="normalLink" routerLink="creatingFeatureSelectors"  routerLinkActive="currentLink">Creating Feature Selectors</mat-list-item>
            <mat-list-item class="normalLink" routerLink="actions" routerLinkActive="currentLink">Actions</mat-list-item>
            <mat-list-item class="normalLink" routerLink="dispatchingActions"  routerLinkActive="currentLink">Dispatching Actions</mat-list-item>
            <mat-list-item class="normalLink" routerLink="reducer"  routerLinkActive="currentLink">Reducer</mat-list-item>
            <mat-list-item class="normalLink" routerLink="utilizingFeatureSelectors"  routerLinkActive="currentLink">Utilizing Feature Selectors</mat-list-item>
            <mat-list-item class="normalLink" routerLink="effects"  routerLinkActive="currentLink">Effects</mat-list-item>
            <mat-list-item class="normalLink" routerLink="devTools"  routerLinkActive="currentLink">Dev Tools</mat-list-item>
        </mat-nav-list>
    </div>
</div>