
@media (max-width: 1154px) {


    .topMenuContainer {
        height: 40px;
        width: 100%;
        background-color: var(--accent1Color);
        position: absolute;
        top: 0;
        z-index: 15;
        
        
    }
    .hideTopMenuContainer {
        visibility: collapse;
    }
    .topMenuContentContainer {
        display:flex;
        width: 85vw;
        height: 40px;
        z-index: 15;
        flex-direction: row;
        
        justify-content: flex-end;

       margin: auto;
    }
   .topMenuContentContainer .topMenuButton{
       width: 40px;
       height: 100%;
       display: inline-block;
       background-color: var(--accent1Color);
       justify-content: flex-end;
     z-index: 15;
   }
    .topMenu {
       background-color: yellow;
       width:300px;
       height: 40px;
       display: inline-block;
       z-index: 15;
      
   }
   .top-nav-bar {
       height: 575px;
       overflow:hidden;
       background-color: white;
   }
   .hide-nav-bar {
    background-color: white;
    height: 40px;
   }
    .top-nav-bar::-webkit-scrollbar {
    width: 12px;
}

    .top-nav-bar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.top-nav-bar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
  ul.top-nav-list {

      margin-bottom: 0px;
  }
#top-nav-bar .top-nav-list {
    list-style-type: none;
    padding: 0px;
    margin-top: 0px;
    height: 40px;
}
#top-nav-bar .top-nav-list .nav-li {
    padding: 10px;
    border-top: var(--secondayColor) 2px solid;
    border-left:var(--secondayColor) 2px solid;
    border-right: var(--secondayColor) 2px solid;
    border-bottom: var(--secondaryColor) 2px solid;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;

}
#top-nav-bar .top-nav-list .nav-li {
    height: 36px;
    font-size: 20px;
    margin: auto auto;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    
}
#top-nav-bar .top-nav-list .nav-li:first-child {
    border-bottom: none;
}
#top-nav-bar .top-nav-list .nav-li:last-child {
    height: 36px;
    border-bottom: var(--secondayColor) 2px solid;
}
#top-nav-bar .nav-li a {
    text-decoration: none;
    color:var(--secondayColor);
    height: 38px;
    width: 100%;
    padding: 0px 10px;
    margin: 10px auto;
}
#top-nav-bar .nav-li a:hover {
    
    color:var(--primaryColor);
}
.top-menu-button-icon {
    width: 40px;
    margin: auto;
    filter: drop-shadow(0 0 0.75rem white);
}

     
}
@media (min-width: 1154px) {
    .topMenuContainer {
        height: 0;
        visibility: collapse;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
    }
}
