<div class="topMenuContainer" id="topMenuContainer">
<div class="topMenuContentContainer">
            
    <div class="topMenu">
      <div id="top-nav-bar" class="top-nav-bar hide-nav-bar">
        <ul class="top-nav-list">
          <li class="nav-li">NGRX: The Basics</li>
          <li class="nav-li">
            <a href="#introduction" class="nav-item" onclick="return toggleTopMenu()">Introduction</a>
          </li>
          <li class="nav-li">
            <a href="#reduxPattern" class="nav-item" onclick="return toggleTopMenu()">Redux Pattern</a>
          </li>
          <li class="nav-li">
            <a href="#gettingStarted" class="nav-item" onclick="return toggleTopMenu()">Getting Started</a>
          </li>
          <li class="nav-li">
            <a href="#state" class="nav-item" onclick="return toggleTopMenu()">State</a>
          </li>
          <li class="nav-li">
            <a href="#initializeState" class="nav-item" onclick="return toggleTopMenu()">Initialize State</a>
          </li>
          <li class="nav-li">
            <a href="#featureStateManagement" class="nav-item" onclick="return toggleTopMenu()">Feature State Management</a>
          </li>
          <li class="nav-li">
            <a href="#strongTyping" class="nav-item" onclick="return toggleTopMenu()">Strong Typing </a>
          </li>
          <li class="nav-li">
            <a href="#creatingFeatureSelectors" class="nav-item" onclick="return toggleTopMenu()">Creating Feature Selectors</a>
          </li>
          <li class="nav-li">
            <a href="#actions" class="nav-item" onclick="return toggleTopMenu()">Actions</a>
          </li>
          <li class="nav-li">
            <a href="#dispatchingActions" class="nav-item" onclick="return toggleTopMenu()">Dispatching Actions</a>
          </li>
          <li class="nav-li">
            <a href="#reducers" class="nav-item" onclick="return toggleTopMenu()">Reducer</a>
          </li>
          <li class="nav-li">
            <a href="#utilizingFeatureSelectors" class="nav-item" onclick="return toggleTopMenu()">Utilizing Feature Selectors</a>
          </li>
          <li class="nav-li">
            <a href="#effects" class="nav-item" onclick="return toggleTopMenu()">Effects</a>
          </li>
          <li class="nav-li">
            <a class="nav-item" (click)="toggleTopMenu()">Dev Tools</a>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="topMenuButton">
        <a (click)="toggleTopMenu()">
       <img src="../../../assets/images/SVG/ngrx_logo.svg" alt="top menu button" class="top-menu-button-icon"></a>
    </div>
</div>