    <div class="topMenuContainer">
        <div class="topMenuContentContainer">

        
        <div class="topMenu">
            <div id="top-nav-bar" #topNavBar class="top-nav-bar hide-nav-bar">
        

        
            <mat-nav-list class="top-nav-list">
                <mat-list-item class="normal">NGRX: The Basics</mat-list-item>
                <mat-list-item class="normalLink" routerLink="introduction"  (click)="toggleTopMenu()" routerLinkActive="currentLink">Introduction</mat-list-item>
                <mat-list-item class="normalLink" routerLink="reduxPattern" (click)="toggleTopMenu()" routerLinkActive="currentLink">Redux Pattern</mat-list-item>
                <mat-list-item class="normalLink" routerLink="gettingStarted" (click)="toggleTopMenu()" routerLinkActive="currentLink">Getting Started</mat-list-item>
                <mat-list-item class="normalLink" routerLink="immutableState" (click)="toggleTopMenu()" routerLinkActive="currentLink">State</mat-list-item>
                <mat-list-item class="normalLink" routerLink="initializeState" (click)="toggleTopMenu()" routerLinkActive="currentLink">Initialize State</mat-list-item>
                <mat-list-item class="normalLink" routerLink="featureStateManagement" (click)="toggleTopMenu()" routerLinkActive="currentLink">Feature State Management</mat-list-item>
                <mat-list-item class="normalLink" routerLink="strongTyping" (click)="toggleTopMenu()" routerLinkActive="currentLink">Strong Typing</mat-list-item>
                <mat-list-item class="normalLink" routerLink="creatingFeatureSelectors" (click)="toggleTopMenu()" routerLinkActive="currentLink">Creating Feature Selectors</mat-list-item>
                <mat-list-item class="normalLink" routerLink="actions" (click)="toggleTopMenu()" routerLinkActive="currentLink">Actions</mat-list-item>
                <mat-list-item class="normalLink" routerLink="dispatchingActions" (click)="toggleTopMenu()" routerLinkActive="currentLink">Dispatching Actions</mat-list-item>
                <mat-list-item class="normalLink" routerLink="reducer" (click)="toggleTopMenu()" routerLinkActive="currentLink">Reducer</mat-list-item>
                <mat-list-item class="normalLink" routerLink="utilizingFeatureSelectors" (click)="toggleTopMenu()" routerLinkActive="currentLink">Utilizing Feature Selectors</mat-list-item>
                <mat-list-item class="normalLink" routerLink="effects" (click)="toggleTopMenu()" routerLinkActive="currentLink">Effects</mat-list-item>
                <mat-list-item class="normalLink" routerLink="devTools" (click)="toggleTopMenu()" routerLinkActive="currentLink">Dev Tools</mat-list-item>
            </mat-nav-list>
        </div>
    </div>
    
    <div class="topMenuButton">
        <a  (click)="toggleTopMenu()">
       <img src="../../../assets/images/SVG/ngrx_logo.svg" alt="top menu button" class="top-menu-button-icon"></a>
    </div>
</div>
</div>