.ngrxPreReqs a{
    margin-left: 8vw;

}

.ngrxPreReqs a .logoSize {
    width: 80px;
}





.gettingStartedCodeBlock1 {
    margin: 20px auto;
    width: auto;
 }
 .gettingStartedCodeBlock1 .coderBlock {
     padding: 1vw 4vw;
 }
