.header {
    height: 13vmax;
    display: flex;
    flex-direction: column;
    background-image: url('../assets/images/header-background-image.png');
    background-size: cover;
    background-repeat: no-repeat;
}